/** Variables: **/
@color-primary: #0050ca;
@color-secondary: #005ae0;
@color-clear: #fff;
@color-dark: #000;
@color-grey-primary: #eaeaea;
@color-grey-secondary: #f2f2f2;
@button-width: 86px;
@button-width-mobile: 20px;
@border-radius: 100px;
@font-stack: 'Proxima Nova', 'Open Sans', helvetica, verdana, sans;
@font-size-default: 13px;
@font-size-big: @font-size-default + 2;
@font-size-bigger: @font-size-big + 1;


/** Mixins **/
.rounded-corners {
  -webkit-border-radius:@border-radius;
  -moz-border-radius:@border-radius;
  border-radius:@border-radius;
}

.transition {
  transition: all .15s ease-in-out;
}


/** Breakpoints **/
@sm:      ~"only screen and (max-width: 529px)";
@md:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@lg:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@xl:  ~"only screen and (min-width: 1129px)";


/* reset */
html,
body {
  margin:0;
  padding: 0;
  //width: 100%;
}

h3 {
  font-size: 24px;
  text-shadow: 0 1px 0 #fff;
  font-family: @font-stack;
}

p {

}

svg {
  fill: inherit;
  color: inherit;
}

.container {
  //background: #ccc;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;

}


.button {
  font-family: @font-stack;
  font-size: @font-size-default;
  line-height: @font-size-default;
  font-weight: bold;
  outline: 0;
  cursor: pointer;

  &--cancel {
    padding: 10px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    .rounded-corners;


    background-color: #fff;
    color: @color-dark;
    border: 2px solid @color-primary;

    @media @sm {
      padding: 20px 20px;
    }

    &:hover {
      color: @color-primary;
      border-color: @color-secondary;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      background-image: url('../img/close-icon.png');
      background-size: 100% 100%;
      background-color: inherit;
      vertical-align: bottom;
      margin-left: 10px;
      .transition;

    }
    &:hover:after {
      transform: rotate(90deg);
    }
  }

  &--small {
    font-size: @font-size-big;
    color: @color-primary;
    background-color: @color-grey-primary;
    border: 0;
    padding: 10px 15px;
    .rounded-corners;

    &:hover {
      color: @color-secondary;
      background-color: @color-grey-secondary;
    }

    &--blue {
      color: @color-clear;
      background-color: @color-primary;
    }
    &--blue:hover {
      color: @color-clear;
      background-color: @color-secondary;
    }

    &--filter {
      &:before {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        background-image: url('../img/close-icon.png');
        background-size: 100% 100%;
        background-color: inherit;
        vertical-align: bottom;
        margin-right: 10px;
        .transition;
      }
    }

  }

  &--simple {
    border-radius: @border-radius;
    background-color: rgba(255,255,255,0.5);
    color: @color-primary;
    border: 0;
    font-size: @font-size-big;

    @media @sm {
      font-size: @font-size-bigger;
    }
    &:hover {
      color: @color-secondary;
    }
    &:before {
      content:'';
      display:inline-block;
      width: 13px;
      height: 13px;
      background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%203.6.1%20%2826313%29%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Ecircle-square%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22circle-square%22%20fill%3D%22%230050CA%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M100%2C200%20C155.228475%2C200%20200%2C155.228475%20200%2C100%20C200%2C44.771525%20155.228475%2C0%20100%2C0%20C44.771525%2C0%200%2C44.771525%200%2C100%20C0%2C155.228475%2044.771525%2C200%20100%2C200%20Z%20M58%2C58%20L143%2C58%20L143%2C143%20L58%2C143%20L58%2C58%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
      background-size: 100% 100%;
      margin-right: 5px;
      vertical-align: baseline;
      .transition;

    }
    &:hover:before {
      @media @md {
        transform: rotate(90deg);
      }
    }
  }

  &--awesome {
    border: 0;
    background-color: @color-secondary;
    border-radius: 10px;
    color: @color-clear;
    padding: 10px 20px 15px;
    box-shadow: 0 -5px 0 rgba(0,0,0,0.5) inset;
    text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
    .transition;

    &:hover {
      background-color: lighten(@color-secondary, 20%);
    }
    &:active {
      padding-bottom: 10px;
      box-shadow: 0 1px 0 rgba(0,0,0,0.5) inset;
      transform: translateY(5px);
    }
  }
}


.button-set {
  margin-top: 20px;
}
